<br><br>

<div class="container">
  <h1>Registrarse</h1>
  <form action="#" method="post">
    <div class="fila-arriba">
      <div class="contenedor-input">
        <label> Nombre <span class="req">*</span> </label>
        <input type="text" required />
      </div>

      <div class="contenedor-input">
        <label> Apellido <span class="req">*</span> </label>
        <input type="text" required />
      </div>
    </div>
    <div class="contenedor-input">
      <label> Usuario <span class="req">*</span> </label>
      <input type="text" required />
    </div>
    <div class="contenedor-input">
      <label> Email <span class="req">*</span> </label>
      <input type="email" required />
    </div>
    <div class="contenedor-input">
      <label> Contraseña <span class="req">*</span> </label>
      <input type="password" required />
    </div>

    <div class="contenedor-input">
      <label> Repetir Contraseña <span class="req">*</span> </label>
      <input type="password" required />
    </div>

    <input type="submit" class="button button-block" value="Registrarse" />
  </form>
</div>
