<br>
<br>
<div class="container">
  <!-- Iniciar Sesion -->
  <div id="iniciar-sesion">
    <h1>Iniciar Sesión</h1>
    <form action="#" method="post">
      <div>
        <label> Usuario <span class="req">*</span> </label>
        <input type="text" required />
      </div>

      <div>
        <label> Contraseña <span>*</span> </label>
        <input type="password" required />
      </div>
      <p><a href="#">Se te olvidó la contraseña?</a></p>
      <input type="submit" class="button button-block" value="Iniciar Sesión" />
    </form>
  </div>
</div>